body {
  background-color: #67BEE8;
}

#home {
  padding: 3em;
}

#home h1 {
  font: 54px petme128, monospace, sans-serif;
}

#home img.logo {
  width: 401px;
  height: 277px;
}

#home {
  background-color: #67BEE8;
  margin-top: 50px;
  font: 14px petme128y, monospace, sans-serif;
  font-size: small;
  text-align: center;
}

header {
  width: 100%;
}

header h1 {
  max-width: 900px;
  margin: 30px auto;
}
header h1 a {
  text-decoration:none;
  color: white;
}

.container {
  width: 100%;
  background-color: white;
}
.content {
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 0;
}

footer {
  background: white;
  text-align: center;
  padding: 3em;
  border-top: thin solid #67BEE8;
}
footer ul {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  padding-right: 20px;
  display: inline-block;

}
footer ul a {
  color: #67BEE8;
  text-decoration: none;
}

#sponsors {
  border-top: thin dotted rgba(100, 100, 100, 0.800);
  background: white;
  padding: 3em;
}

#sponsors {
  text-align: center;
}
#sponsors li {
  padding: 1em;
  display: inline;
}

#sponsors ul {
  list-style-type: none;
}
#sponsors img {
  max-width: 150px;
}
