body {
  background-color: #67BEE8;
  font: 14px petme128y, monospace, sans-serif;
  font-size: small;
  text-align: center;
}

h1 {
  font: 54px petme128, monospace, sans-serif;
}

img.logo {
  width: 401px;
  height: 277px;
}

#home {
  margin-top: 50px;
}
