<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">
  </head>
  <body>

    {{ content }}

    <footer>
      <ul>
        <li><a href="http://arlingtonruby.org">&copy; {{ site.time | date: '%Y' }} Arlington Ruby</a></li>
        <li><a href="https://github.com/arlingtonruby/code-of-conduct">Code of Conduct</a></li>
        <li><a href="/schedule.html">Schedule</a></li>
        <li><a href="/sponsors.html">Sponsors</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </footer>
  </body>
</html>
